<ul>
    <li>
        <p>Works on any playlist or channel, get the handle or id from the url, and create a new url on
            this website. Examples:</p>
        <ul>
            Channel:
            <li><code><a href="https://youtube.com/c/@stuffmadehere">https://youtube.com/c/@stuffmadehere</a></code>
                <ol>
                    <li><code><a href="{{ DOMAIN }}/c/@stuffmadehere">{{ DOMAIN }}/c/@stuffmadehere</a></code></li>
                </ol>
            </li>
            <li><code><a href="https://youtube.com/c/beardmeatsfood">https://youtube.com/c/beardmeatsfood</a></code>
                <ol>
                    <li><code><a href="{{ DOMAIN }}/c/beardmeatsfood">{{ DOMAIN }}/c/beardmeatsfood</a></code></li>
                </ol>
            </li>
            Playlist:
            <li><code><a href="https://www.youtube.com/watch?v=KMd5czoOW-Q&list=PLq5Wss5r1Cvtfc3KcM-34zIQE6hQz-DJt">https://www.youtube.com/watch?v=KMd5czoOW-Q&list=PLq5Wss5r1Cvtfc3KcM-34zIQE6hQz-DJt</a></code>
                <ol>
                    <li><code><a href="{{ DOMAIN }}/p/PLq5Wss5r1Cvtfc3KcM-34zIQE6hQz-DJt/v">{{ DOMAIN }}/p/PLq5Wss5r1Cvtfc3KcM-34zIQE6hQz-DJt/v</a></code>
                    </li>
                </ol>
            </li>
            User:
            <li><code><a href="https://www.youtube.com/channel/UCj1VqrHhDte54oLgPG4xpuQ">https://www.youtube.com/channel/UCj1VqrHhDte54oLgPG4xpuQ</a></code>
                <ol>
                    <li><code><a
                            href="{{ DOMAIN }}/u/UCj1VqrHhDte54oLgPG4xpuQ">{{ DOMAIN }}/u/UCj1VqrHhDte54oLgPG4xpuQ</a></code>
                    </li>
                </ol>
            </li>
        </ul>
    </li>
    <li>
        <p> We default to audio only, however, tack a `/v/` at the end of the url if you want
            video instead.</p>
        <ul>
            <li><code><a href="https://www.youtube.com/watch?v=jX4LEyTgZNQ&list=PLz4scdcuqnN2oK16dHadxF1JTAaW1snBu">https://www.youtube.com/watch?v=jX4LEyTgZNQ&list=PLz4scdcuqnN2oK16dHadxF1JTAaW1snBu</a></code>
                <ol>
                    <li><code><a href="{{ DOMAIN }}/p/PLz4scdcuqnN2oK16dHadxF1JTAaW1snBu/v">{{ DOMAIN }}/u/PLz4scdcuqnN2oK16dHadxF1JTAaW1snBu/v</a></code>
                    </li>
                </ol>
            </li>
        </ul>
    </li>
    <li>
        <p>Add this RSS feed to your podcatcher of choice and pretend that your favorite content creator created a
            podcast</p>
    </li>
    <li>
        <p>If you want to download a single video, you can use the download route.
            If you want to get video as well as audio, you can use the `/v/` trick on these as well. Examples:</p>
        <ul>
            <li><code><a
                    href="https://www.youtube.com/watch?v=Xo3xqm-AtqE">https://www.youtube.com/watch?v=Xo3xqm-AtqE</a></code>
                <ol>
                    <li><code><a href="{{ DOMAIN }}/dl/Xo3xqm-AtqE/v">{{ DOMAIN }}/dl/Xo3xqm-AtqE/v</a></code></li>
                </ol>
            </li>
            <li><code><a
                    href="https://www.youtube.com/watch?v=8kKwfZpbIv8">https://www.youtube.com/watch?v=8kKwfZpbIv8</a></code>
                <ol>
                    <li><code><a href="{{ DOMAIN }}/dl/8kKwfZpbIv8">{{ DOMAIN }}/dl/8kKwfZpbIv8</a></code></li>
                </ol>
            </li>
        </ul>
    </li>
</ul>
