<p>Convert any YouTube channel or playlist to a podcast. Defaults to audio, but can also do video. This tool will
    create a feed for your podcatcher, and then handle the streaming of the media when your podcatcher requests
    it.</p>
<br/>
<br/>
<h2>Usage</h2>
<ol>
    <li>
        <p>Works on any playlist or channel, simply get the handle or id from the url, and create a new url on
            this website. Examples:</p>
        <ul>
            Channel:

            <li><code><a href="https://youtube.com/c/@stuffmadehere">https://youtube.com/c/@stuffmadehere</a></code>
                <ol>
                    <li><a href="{{ DOMAIN }}/c/@stuffmadehere">{{ DOMAIN }}/c/@stuffmadehere</a></li>
                </ol>
            </li>
            <li><code><a href="https://youtube.com/c/beardmeatsfood">https://youtube.com/c/beardmeatsfood</a></code>
                <ol>
                    <li><a href="{{ DOMAIN }}/c/beardmeatsfood">{{ DOMAIN }}/c/beardmeatsfood</a></li>
                </ol>
                Playlist:

            </li>
            <li><code><a href="https://www.youtube.com/watch?v=KMd5czoOW-Q&list=PLq5Wss5r1Cvtfc3KcM-34zIQE6hQz-DJt">https://www.youtube.com/watch?v=KMd5czoOW-Q&list=PLq5Wss5r1Cvtfc3KcM-34zIQE6hQz-DJt</a></code>
                <ol>
                    <li><a href="{{ DOMAIN }}/p/PLq5Wss5r1Cvtfc3KcM-34zIQE6hQz-DJt/v">{{ DOMAIN }}/p/PLq5Wss5r1Cvtfc3KcM-34zIQE6hQz-DJt/v</a>
                    </li>
                </ol>
            </li>
            User:
            <li><code><a href="https://www.youtube.com/channel/UCj1VqrHhDte54oLgPG4xpuQ">https://www.youtube.com/channel/UCj1VqrHhDte54oLgPG4xpuQ</a></code>
                <ol>
                    <li><a href="{{ DOMAIN }}/u/UCj1VqrHhDte54oLgPG4xpuQ">{{ DOMAIN }}/u/UCj1VqrHhDte54oLgPG4xpuQ</a>
                    </li>
                </ol>
            </li>
        </ul>
    </li>

    <li>
        <p> We default to audio only, however, simply tack a `/v/` at the end of the url if you want
            video instead.</p>
        <ul>
            <li><code><a href="https://www.youtube.com/watch?v=jX4LEyTgZNQ&list=PLz4scdcuqnN2oK16dHadxF1JTAaW1snBu">https://www.youtube.com/watch?v=jX4LEyTgZNQ&list=PLz4scdcuqnN2oK16dHadxF1JTAaW1snBu</a></code>
                <ol>
                    <li><a href="{{ DOMAIN }}/p/PLz4scdcuqnN2oK16dHadxF1JTAaW1snBu/v">{{ DOMAIN }}/u/PLz4scdcuqnN2oK16dHadxF1JTAaW1snBu/v</a>
                    </li>
                </ol>

        </ul>
    </li>

    <li>
        <p>Add this RSS feed to your podcatcher of choice and pretend that your favorite content creator created a
            podcast</p>
    </li>
</ol>
