<ul>
    <li>
        <p>Works on any playlist or channel, get the id from the url, and create a url using that id on this website.
            Examples:</p>
        <ul>
            Channel (channel handle):
            <li>
                <code><a href="https://youtube.com/c/@AdamNeely">https://youtube.com/c/@AdamNeely</a></code>
                <ol>
                    <li><code><a href="{{ DOMAIN }}/c/@AdamNeely">{{ DOMAIN }}/c/@AdamNeely</a></code></li>
                </ol>
            </li>
            <li>
                <code><a href="https://youtube.com/c/beardmeatsfood">https://youtube.com/c/beardmeatsfood</a></code>
                <ol>
                    <li><code><a href="{{ DOMAIN }}/c/beardmeatsfood">{{ DOMAIN }}/c/beardmeatsfood</a></code></li>
                </ol>
            </li>
            Playlist (playlist id):
            <li>
                <code><a href="https://www.youtube.com/playlist?list=PLq5Wss5r1Cvtfc3KcM-34zIQE6hQz-DJt">https://www.youtube.com/playlist?list=PLq5Wss5r1Cvtfc3KcM-34zIQE6hQz-DJt</a></code>
                <ol>
                    <li>
                        <code><a href="{{ DOMAIN }}/p/PLq5Wss5r1Cvtfc3KcM-34zIQE6hQz-DJt">{{ DOMAIN }}/p/PLq5Wss5r1Cvtfc3KcM-34zIQE6hQz-DJt</a></code>
                    </li>
                </ol>
            </li>
            <li>
                <code><a href="https://www.youtube.com/playlist?list=PLz4scdcuqnN2oK16dHadxF1JTAaW1snBu">https://www.youtube.com/playlist?list=PLz4scdcuqnN2oK16dHadxF1JTAaW1snBu</a></code>
                <ol>
                    <li>
                        <code><a href="{{ DOMAIN }}/p/PLz4scdcuqnN2oK16dHadxF1JTAaW1snBu">{{ DOMAIN }}/p/PLz4scdcuqnN2oK16dHadxF1JTAaW1snBu</a></code>
                    </li>
                </ol>
            </li>
            User (channel id):
            <li><code><a href="https://www.youtube.com/channel/UCj1VqrHhDte54oLgPG4xpuQ">https://www.youtube.com/channel/UCj1VqrHhDte54oLgPG4xpuQ</a></code>
                <ol>
                    <li>
                        <code><a
                                href="{{ DOMAIN }}/u/UCj1VqrHhDte54oLgPG4xpuQ">{{ DOMAIN }}/u/UCj1VqrHhDte54oLgPG4xpuQ</a></code>
                    </li>
                </ol>
            </li>
            <li><code><a href="https://www.youtube.com/channel/UC7-E5xhZBZdW-8d7V80mzfg">https://www.youtube.com/channel/UC7-E5xhZBZdW-8d7V80mzfg</a></code>
                <ol>
                    <li>
                        <code><a
                                href="{{ DOMAIN }}/u/UC7-E5xhZBZdW-8d7V80mzfg">{{ DOMAIN }}/u/UC7-E5xhZBZdW-8d7V80mzfg</a></code>
                    </li>
                </ol>
            </li>
        </ul>
    </li>
    <li>
        <p>Add this RSS feed to your podcatcher of choice. I would recommend creating a `podcast` playlist on your
            YouTube account and saving wanted videos in that playlist if you do not want to have access to an
            entire channel.</p>
    </li>
    <li>
        <p>If you want to download the audio for a single video, you can use the `download` routes. Examples:</p>
        <ul>
            <li>
                <code><a
                        href="https://www.youtube.com/watch?v=5LyUgE4XPuU">https://www.youtube.com/watch?v=5LyUgE4XPuU</a></code>
                <ol>
                    <li>
                        <code><a href="{{ DOMAIN }}/dl/5LyUgE4XPuU.m4a">{{ DOMAIN }}/dl/5LyUgE4XPuU.m4a</a></code>
                    </li>
                </ol>
            </li>
            <li>
                <code><a
                        href="https://www.youtube.com/watch?v=Xo3xqm-AtqE">https://www.youtube.com/watch?v=Xo3xqm-AtqE</a></code>
                <ol>
                    <li>
                        <code><a href="{{ DOMAIN }}/dl/Xo3xqm-AtqE.m4a">{{ DOMAIN }}/dl/Xo3xqm-AtqE.m4a</a></code>
                    </li>
                </ol>
            </li>
        </ul>
    </li>
</ul>
