# yt_feed

Create a working RSS feed (for your podcatcher) to turn a youtube channel into a podcast

[![yt_feed](https://github.com/jaredkoontz/yt_feed/actions/workflows/python-app.yml/badge.svg)](https://github.com/jaredkoontz/yt_feed/actions/workflows/python-app.yml)

## User Instructions

{% include 'shared/user_usage.html' %}

## Dev Instructions
