# yt_feed

Create a working RSS feed (for your podcatcher) to turn a YouTube channel into a podcast.

[![yt_feed](https://github.com/jaredkoontz/yt_feed/actions/workflows/python-app.yml/badge.svg)](https://github.com/jaredkoontz/yt_feed/actions/workflows/python-app.yml)
[![Docker](https://github.com/jaredkoontz/yt_feed/actions/workflows/docker-publish.yml/badge.svg)](https://github.com/jaredkoontz/yt_feed/actions/workflows/docker-publish.yml)

## User Instructions

{% include 'shared/user_usage.html.jinja' %}

## Hosting

### Pre-reqs

You'll need a YouTube api key.

### Docker

We publish a docker container that contains the latest code at `ghcr.io/jaredkoontz/yt_feed:main`.

```shell
docker run\
 -e YOUTUBE_API_KEY="your_key_here"\
 -e DOMAIN="your_domain_here"\
 -p 80:80\
 --rm -d\
 ghcr.io/jaredkoontz/yt_feed:main
```

### Local Run

Currently running on python:3.10

1. Install uv
2. sync envirornment
    `uv sync`
3. run flask app
    ` YOUTUBE_API_KEY=some_key DOMAIN=your_domain && uv run python wsgi.py`