<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
     version="2.0">
 <channel>
  <title>{{ videos_data['channel_data'].title }}</title>
  <link>{{ videos_data['channel_data'].url }}</link>
  <description>{{ videos_data['channel_data'].desc }}</description>
  <language>en-us</language>
  <generator>yt_feed</generator>
  <docs>http://blogs.law.harvard.edu/tech/rss</docs>
  <pubDate>{{ now }}</pubDate>
  <lastBuildDate>{{ now }}</lastBuildDate>
  <managingEditor>Joe Mama</managingEditor>
  <webMaster>Spider-Man</webMaster>
  <image>
   <title>{{ videos_data['channel_data'].title }}</title>
   <link>https://www.youtube.com/channel/{{ videos_data['channel_data'].id }}</link>
   <url>{{ videos_data['channel_data'].thumbnail_url }}</url>
  </image>

  <itunes:author>{{ videos_data['channel_data'].title }}</itunes:author>
  <itunes:explicit>false</itunes:explicit>
  <itunes:image href="{{ videos_data['channel_data'].thumbnail_url }}"/>
  <itunes:owner>
   <itunes:email>🥳@🔥.edu</itunes:email>
   <itunes:name>{{ videos_data['channel_data'].title }}</itunes:name>
  </itunes:owner>
  <itunes:subtitle>{{ videos_data['channel_data'].title }}</itunes:subtitle>
  <itunes:summary>{{ videos_data['channel_data'].desc }}</itunes:summary>
  <itunes:block>no</itunes:block>
  <atom10:link xmlns:atom10="http://www.w3.org/2005/Atom" rel="self" type="application/rss+xml"
               href="{{ DOMAIN }}/channel/{{ videos_data['video_info'][0]['id'] }}"
    {# TODO this is supposed to be a self referential link of the original request #}
  />

  {% for video_item in videos_data['video_info'] %}
   <item>
    <title>{{ video_item.title }}</title>
    <link>https://www.youtube.com/watch?v={{ video_item.id }}</link>
    <description>{{ video_item.desc }}</description>
    <enclosure
      url="{{ DOMAIN }}/dl/{{ video_item.id }}.m4a"
      type="audio/m4a"
      {# TODO missing length here #}
    />
    <guid>https://www.youtube.com/watch?v={{ video_item.id }}</guid>
    <pubDate>{{ video_item.published_at }}</pubDate>
    <itunes:duration>{{ video_item.duration }}</itunes:duration>
    <author>{{ videos_data['channel_data'].title }}</author>
    <itunes:subtitle>{{ video_item.title }}</itunes:subtitle>
    <itunes:summary>{{ video_item.desc }}</itunes:summary>
   </item>
  {% endfor %}
 </channel>
</rss>
